.botones-menuderecho {
    width: 70px;         
    display: block;        
    margin: 10px;   
    margin-right: 15px;      
    position: fixed; 
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    cursor: pointer;
    z-index: 1000;
   bottom: 20px;
   bottom: 20px;
  }

  .boton {
    text-align: center;
  }

  .boton img {
    width: 50px; 
    height: auto;
  }

  .boton p {
    margin: 0px 0 0 0;
    font-family: sans-serif;
  }

  .Registro-container {
    position: relative;
    background: #f7bfd8;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    width: 970px;
    height: 450px;
    margin-top: 10px;
    margin-left:180px;
    margin-right: 100px;
    max-width: 150%;
    min-height: 400px;
  }

  .Titulo2 {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 0.2rem;
    border-radius: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
  }

  .advertencia-text{
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-top: -37px;
    text-align: center;
    font-size:0.7rem;
   
  }

  .advertencia-icon {
    width: 40px;
    height: 40px;
    margin-right: 200px;
    margin-left: 100px;
    vertical-align: middle;
  }

  .nombre-competidor{
    width: 150px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 10px;
  }

  .nombre-input{
    width: 170px;
    max-width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px; 
    color: white;
    margin-left: 240px;
    margin-top: -29px;
  }

  .numero-saltos{
    width: 150px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 500px;
    margin-top: -29px;
  }

  .saltos-input{
    width: 170px;
    max-width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px; 
    color: white;
    margin-left: 620px;
    margin-top: -29px;  
  }

  .boton-competidor{
    width: 150px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 850px;
    margin-top: -20px;
    
  }

  .competidores-text{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
   margin-left: 380px;
  }

  .competidores-lista {
    overflow-y: auto;
    position: relative;
    background: #ffffff;
    padding: 1rem;  /* Corregido el valor de padding */
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    width: 760px;  /* Ancho fijo para el contenedor */
    height: 180px;  /* Altura fija */
    margin-left: 80px;
    margin-top: 0px;
}

.tabla-competidores {
    position: absolute;
    width: 95%;
    text-align: center;
}
  
  th {
    background-color: #1e3a8a;
    color: white;
    padding: 7px;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }

  .agregar-competidor{
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
  }